<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Displaying data</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Homeworld</th>
                <th>Climate</th>
            </tr>
            {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.homeworld }}</td>
                <td>{{ person.climate }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>