<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Remove data</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <select name="title">
                {% for title in titles %}
                <option value="{{ title }}">{{ title }}</option>
                {% endfor %}
            </select>
            <textarea name="opening_crawl"></textarea>
            <button type="submit">Update</button>
        </form>
    </body>
</html>